header {

  color: #ff0000;
}

p {

  color: purple;

}




a {
 color: #ff0000;
 text-decoration: none;
}

a:hover {

  color:yellow;
  text-decoration: underline;
}

a:visited {

color: #3FBF3F;

}

.requirements_intro p {

color: green;

text-align: left;

background-color: pink;

}

.requirements_intro h2 {

color: crimson;

background-color: pink;

}

.requirements_intro h3 {

color: crimson;

background-color: pink;

}

.classes-intro p {

color: purple;

background-color: pink
}


.classes-intro h2 {

color: yellow;

}


.image_box {
border: 2px solid #ff0000;
padding: 10px 10px 10px 10px;
margin: 20px 20px 20px 20px;
background-color: #0000ff;
}

body {
background-color: grey;
}

main {
background-color: black;
}
